.form {
  color: #fff;
  padding: 2em;
  padding-top: 3em;
}

.form label {
  margin-bottom: 1em;
}

.form__control {
  display: flex;
  justify-content: space-between;
}

.form__todo,
.form__category {
  display: flex;
  flex-direction: column;
}

.form__todo {
  width: 70%;
}

.form__todo input,
.form__category select {
  padding: 1em;
}

.form__todo input {
  width: 80%;
}

.form__actions {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn,
.cancelBtn {
  width: 8em;
  height: 4em;
}

.editBtn {
  height: 4em;
  width: 4em;
}

.error {
  background-color: rgb(255, 194, 194);
  border: 2px solid red;
}

@media screen and (max-width: 900px) {
  .form {
    padding-top: 1em;
  }
  .form__control {
    flex-direction: column;
    align-items: center;
  }

  .form__todo, .form__category {
    padding: 1em
  }

  .form__actions {
    padding: 0.5em;
  }
}
