.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.title {
  color: #fff;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filter {
  height: 3em;
  width: 10em;
}
