.item {
  border: inherit;
  border-radius: inherit;
  background-color: inherit;
  padding: 0 1em;
  display: grid;
  grid-template-columns: 60% auto auto;
  align-items: center;
}

.item__name {
  max-width: 100%;
  justify-self: self-start;
  overflow-wrap: break-word;
  text-align: start;
}

.item__category {
  color: rgba(0, 0, 0, 0.467);
  justify-self: center;
}

.item__actions {
  justify-self: self-end;
}

.done {
  text-decoration: line-through;
}

@media screen and (max-width: 900px) {
  .item {
    padding: 0;
  }

  .item__actions {
    display: flex;
    flex-direction: column;
  }
}
