.form {
  padding: 2em;
  color: #fff;
}

.form label {
  margin-bottom: 1em;
}

.form__control {
  display: flex;
  justify-content: space-between;
}

.form__todo,
.form__category {
  display: flex;
  flex-direction: column;
}

.form__todo {
  width: 70%;
}

.form__todo input,
.form__category select {
  padding: 1em;
}

.form__todo input {
  width: 80%;
}

.form__actions {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn,
.cancelBtn {
  width: 8em;
  height: 4em;
}

.editBtn {
  height: 4em;
  width: 4em;
}

/* .form {
  padding: 1em;
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  color: #fff;
}

.form input,
.form label,
.form select {
  padding: 0.5em;
  margin: 1em;
}

.form__todo {
  display: flex;
  flex-direction: column;
}

.form__category {
  display: flex;
  align-items: flex-end;
}

.form__category__select {
  display: flex;
  flex-direction: column;
}

.form__todo {
  justify-self: center;
  align-self: center;
}

.form__category {
  justify-self: center;
}

.form__category__new {
  justify-self: self-end;
  align-self: flex-end;
  padding: 0.5em;
  margin: 1em;
}

.btnContainer {
  grid-column: span 3;
  justify-self: center;
}

.btnContainer button {
  width: 6em;
  height: 3em;
  margin: 1em;
  border-radius: 1em;
  border: none;
  background-color: var(--btn-bcg-color);
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
} */
